@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}
h1,h2 {
    color: black;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
}

h3, h5 {
    display: flex;
    align-items: center;
    font-size: 10px;
    img {
        margin-right: 4px;
    }
}

h5.up {
    color: hsl(163, 72%, 41%);
}

h5.down {
    color: hsl(356, 69%, 56%);
}

.medias h2 {
    font-size: 48px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#header {
    display: flex;
    padding: 0 10px 0 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#dark-mode {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    display: inline-block;
    width: 50px;
    height: 26px;
    position: relative;
    border-radius: 26px;
    background-color: #ccd;
    cursor: pointer;
    transition: background-color 0s;
}

.toggle::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle:hover {
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%)); 
}

.toggle.on {
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}

.toggle.on::before {
    transform: translateX(24px);
}

#social-media {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.medias {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 200px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.frame {
    width: 100%;
    height: 4px;
    border-radius: 8px 8px 0 0;
}

.frame.facebook {
    background-color: var(--Facebook);
}
.frame.twitter {
    background-color: var(--Twitter);
}

.frame.instagram {
    background: var(--Instagram); 
}

.frame.youtube {
    background-color: var(--YouTube); 
}

#overview {
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    justify-content: start;
    align-items: center;
}

.medias-infos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.medias-statistic {
    cursor: pointer;
    width: 230px;
    height: 100px;
    font-size: 12px;
    padding: 0 16px 0 16px;
    background-color: hsl(228, 100%, 98%);
    border-radius: 4px;
}

.medias-statistic span {
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.medias:hover, .medias-statistic:hover {
    background-color: hsl(232, 33%, 91%);
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* teste */

