@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

h1,h2 {
    color: hsl(230, 17%, 14%);
    font-weight: 700;
    color: #1e202a;
}

h2 {
    font-size: 28px;
}

h4 {
    color: hsl(228, 12%, 44%);
    font-weight: 400;
    font-size: 14px;
}

h3 {
    color: hsl(228, 12%, 44%);
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

h3, h5 {
    display: flex;
    align-items: center;
    img {
        margin-right: 4px;
    }
}

h5.up {
    color: hsl(163, 72%, 41%);
}

h5.down {
    color: hsl(356, 69%, 56%);
}

.medias h2 {
    font-size: 48px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#header {
    display: flex;
    padding: 0 10px 0 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#dark-mode {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    display: inline-block;
    width: 50px;
    height: 26px;
    position: relative;
    border-radius: 26px;
    background-color: hsl(230, 22%, 74%);
    cursor: pointer;
    transition: background-color 0s;
}

.toggle::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle:hover {
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%)); 
}

.toggle.on {
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}

.toggle.on::before {
    transform: translateX(24px);
}

#social-media {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.medias {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 200px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.frame {
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0 0;
}

.frame.facebook {
    background-color: var(--Facebook);
}
.frame.twitter {
    background-color: var(--Twitter);
}

.frame.instagram {
    background: var(--Instagram); 
}

.frame.youtube {
    background-color: var(--YouTube); 
}

#overview {
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 70px;
    justify-content: start;
    align-items: center;
    h3 {
        font-size: 24px;
    }
}

.medias-infos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.medias-statistic {
    cursor: pointer;
    width: 230px;
    height: 100px;
    font-size: 12px;
    padding: 0 16px 0 16px;
    background-color: hsl(228, 100%, 98%);
    border-radius: 8px;
}

.medias-statistic span {
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.medias:hover, .medias-statistic:hover {
    background-color: hsl(232, 33%, 91%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* troca de tema */

.medias.dark {
    background-color: hsl(228, 29%, 20%);
    
    h2 {
        color: hsl(0, 0%, 100%);
    }
    h3, h4 {
        color: hsl(228, 34%, 66%);
    }
}

.medias.dark:hover {
    background-color: hsl(228, 26%, 27%);
}

.medias.light {
    background-color: hsl(225, 100%, 98%);

    h2 {
        color: hsl(230, 17%, 14%);
    }
    h3, h4 {
        color: hsl(228, 12%, 44%);
    }
}

.medias.light:hover {
    background-color: hsl(232, 33%, 91%);
}

.medias-statistic.dark {
    background-color: hsl(228, 29%, 20%);
    
    h2 {
        color: hsl(0, 0%, 100%);
    }
    h3, h4 {
        color: hsl(228, 34%, 66%);
    }
}

.medias-statistic.dark:hover {
    background-color: hsl(228, 26%, 27%);
}

.medias-statistic.light {
    background-color: hsl(225, 100%, 98%);

    h2 {
        color: hsl(230, 17%, 14%);
    }
    h3, h4 {
        color: hsl(228, 12%, 44%);
    }
}

.medias-statistic.light:hover {
    background-color: hsl(232, 33%, 91%);
}

@media (max-width: 768px) {
    
    #container {
        width: auto;
    }
    
    #social-media {
        flex-wrap: wrap;
    }
    .medias {
        margin-bottom: 20px;
    }

    .medias-infos {
        flex-wrap: wrap;
    }

    .medias-statistic {
        margin-bottom: 15px;
    }
}

@media (max-width: 425px) {
    
    #container {
        width: auto;
    }

    #header {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #title {
        display: flex;
        flex-direction: column;
        width: 220px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    h1 {
        text-align: center;
    }

    #social-media {
        flex-wrap: wrap;
    }
    .medias {
        margin-bottom: 20px;
    }

    #overview {
        width: auto;
        justify-content: center;
        padding: 0;
        height: fit-content;
        margin-bottom: 20px;
    }

    .medias-infos {
        flex-wrap: wrap;
    }

    .medias-statistic {
        margin-bottom: 15px;
    }

}
